*{
    border: 1px solid black;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header i{
    font-size: 30px;
   
}
.container{
    width: 80%;
    margin: 0 auto;
}
main{
    display: flex;
    flex-wrap: nowrap;
}
main aside{
    width: 30%;
}
main section{
    width: 70%;   
}
aside ul{
    list-style: none;
    
}
aside ul li{
    margin-top: 10px;
}
aside ul li i{
    margin-right: 10px;
}
.contacto{
    display: flex;
    justify-content: space-between;
    
}